<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/evaluation/" class="{% if page.url contains 'tips' %}current{% endif %}">Pre-evaluation</a></li>
    <li><a href="{{site.baseurl}}/support/" class="{% if page.url contains 'tips' %}current{% endif %}">Support</a></li>
    <li><a href="{{site.baseurl}}/tips/" class="{% if page.url contains 'tips' %}current{% endif %}">Tips</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Experts</a></li>
    <!--<li><a href="{{site.baseurl}}/testimonials/" class="{% if page.url contains 'testimonials' %}current{% endif %}">Testimonials</a></li>-->
    <!--<li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>-->
  </ul>
</div>
