<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li>Developed with ❤.</li>
          </ul>
          <ul>
            <li>Theme from <a href="https://www.zerostatic.io" target="_blank">www.zerostatic.io</a></li>
            <li>Illustrations by <a href="https://icons8.com" target="_blank">www.icons8.io</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
